@charset "UTF-8";

.thumbs_wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 60px 0 0 200px;
	padding: 20px 0 0 10px;
}

.thumbs_item{
	/* 한줄에 4개씩만 */
	width: 25%;
	margin: 0 0 15px 0;
	padding: 0 10px;
}

.thumbs_image{
	max-width: 100%;
	margin: 0 0 10px 0;
}

.thumbs_info{
	display: flex;
}

.thumbs_profile{
	width: 40px;
	height: 40px;
	background-image: url(profile-m.png);
	background-size: 40px 40px;
}

.thumbs_text{
	padding-left: 10px;
}

.thumbs_title{
	font-size: 1.2rem;
	margin-bottom: 0.5em;
}

.thumbs_owner{
	font-size: 1rem;
	margin-bottom: 0.5em;
}

.thumbs_anal{
	font-size: 0.8rem;
}

/* 1200px 이면 . */
@media screen and (max-width:1200px){
	.thumbs_item{width: 33%}
}

/* 작아진 nav 만큼(200px-50px) 사진으로 채우자 */
@media screen and (max-width:800px){
	.thumbs_wrap{margin: 80px 0 0 50px;}
	.thumbs_item{width: 50%;}
}

/* 520px  */
@media screen and (max-width:520px){
	.thumbs_item{width: 100%;}
}
























